:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --darkGray: hsl(0, 0%, 55%);
  --veryDarkGray: hsl(0, 0%, 41%);
}

body {
  overflow-x: hidden;
  margin: 0;
}
nav {
  height: 500px;
  background-image: url("./images/mobile/image-hero.jpg");
  overflow-x: hidden;
}
.navbar__top {
  font-family: "Alata";
  display: flex;
  justify-content: space-between;
  padding: 30px;
  color: var(--white);
  align-items: center;
}

.overlay {
  display: none;
  position: fixed;
  left: 0px;
  top: 0;
  background-color: var(--black);
  height: 100%;
  color: white;
  z-index: 2;
}

.overlay ul {
  padding-top: 40px;
  list-style: none;
  text-align: center;
}

.overlay .close-btn {
  position: absolute;
  top: 20px;
  left: 85%;
  font-size: 40px;
}

.overlay li {
  padding: 20px 0;
  color: var(--darkGray);
  font-family: "Josefin Sans";
}
.navbar__top li {
  list-style-type: none;
  color: var(--white);
}

.navlinks {
  display: none;
}

.bar div {
  width: 20px;
  height: 3px;
  background-color: white;
  margin: 3px;
}

a {
  text-decoration: none;
  color: var(--white);
  position: relative;
}

a:hover:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(white);
}

.navbar__bottom h1 {
  color: var(--white);
  padding: 20px;
  font-family: "Josefin Sans";
  text-transform: uppercase;
  font-size: 30px;
  padding: 5px;
  margin: 0;
}

.navbar__bottom {
  border: 2px solid white;
  margin: 30px;
  width: 500px;
  margin: 30px;
  padding: 37px;
}

section#about {
  position: relative;
  margin: 100px 50px;
}

/* .about__left-picture {
  padding-top: 100px;
  padding-left: 50px;
} */

.about__left-picture img {
  width: 600px;
  height: auto;
  max-width: 100%;
}

.about__right {
  text-align: center;
}

.about__right h2 {
  font-family: "Josefin Sans";
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 28px;
}

.about__right p {
  font-family: "Alata";
  color: var(--darkGray);
}

section#products {
  margin: 100px 50px;
}

.creation__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.creation__headline {
  text-transform: uppercase;
  font-family: "Josefin Sans";
  font-size: 28px;
}

.creation__button {
  background-color: white;
  color: black;
  border: 2px solid black;
  padding: 10px 30px;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "Josefin Sans";
  cursor: pointer;
}

.creation__button:hover {
  background-color: black;
  color: white;
}

.creation__cards {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.creation__card__container--mobile {
  position: relative;
}
.creation__card__container--mobile img {
  max-width: 100%;
}

.creation__card__container--desktop {
  position: relative;
  display: none;
}

.creation__button.desktop {
  display: none;
}

.creation__card__container--desktop:hover img {
  cursor: pointer;
  opacity: 0.35;
}

.creation__card__container--desktop img {
  transition: opacity 550ms ease-in-out 100ms;
}

.creation__card__container--desktop p {
  transition: color 550ms ease-in-out 100ms;
}
.creation__card__container--desktop:hover p {
  color: black;
}

.creation__cards__header {
  position: absolute;
  left: 10%;
  top: 10%;
  color: white;
  font-size: 25px;
  font-family: "Josefin Sans";
  letter-spacing: 2px;
  text-transform: uppercase;
}

footer {
  background-color: var(--black);
  font-family: "Alata";
  display: flex;
  justify-content: space-between;
}

footer h1 {
  color: var(--white);
  margin-left: 40px;
}

footer ul {
  display: flex;
  width: 300px;
  justify-content: space-between;
  list-style-type: none;
  cursor: pointer;
  flex-direction: column;
}

.social-media-icons {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-items: center;
}
footer {
  flex-direction: column;
}
footer p {
  color: var(--darkGray);
}

.social-media-icons-list {
  width: 150px;
  flex-direction: row;
  padding-left: 0;
}

@media screen and (min-width: 415px) {
  nav {
    background-image: url("./images/desktop/image-hero.jpg");
  }

  .bar {
    display: none;
  }
  .navlinks {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  .creation__card__container--desktop {
    display: block;
  }
  .creation__card__container--mobile {
    display: none;
  }

  .creation__cards {
    grid-template-columns: repeat(4, 1fr);
  }

  .creation__cards__header {
    top: 75%;
  }
  .creation__button.desktop {
    display: block;
  }
  .creation__button.mobile {
    display: none;
  }

  .creation__header {
    justify-content: space-between;
  }

  footer {
    flex-direction: row;
  }

  footer h1 {
    text-align: left;
    margin-left: 40px;
  }
  footer ul {
    flex-direction: row;
  }

  .social-media-icons {
    margin-right: 40px;
  }

  .navbar__bottom h1 {
    font-size: 45px;
  }
}

@media screen and (min-width: 768px) {
  .about__right {
    width: 450px;
    padding: 50px;
    position: absolute;
    left: 495px;
    top: 238px;
    z-index: 2;
    background-color: white;
  }

  section#products {
    margin-top: 150px;
  }
}
